
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kat Von D Affiliate Program</title>
<style>
@media only screen and (max-width: 40em) {
.deviceWidth {
width: 100%!important;
float: center!important;
}
.center {
margin: 0 auto!important;
}
.img {
width: 100%!important;
height: auto!important;
}
table, thead, tbody, tfoot, th, td, tr {
display: block!important;
}
.code {
display: none!important;
}
.mainBanner {
width: 100%!important;
height: auto!important;
}
.left {
text-align: left!important;
}
}

@media only screen and (max-width: 24em) {
.midsizeBanner {
width: 100%!important;
}
.mainBanner {
width: 100%!important;
height: auto!important;
}
}

@media only screen and (max-width: 32em) {
.longbanner {
width: 100%!important;
}
.mainBanner {
width: 100%!important;
height: auto!important;
}
.logo {
width: 60%!important;
height: auto!important;
}
}
/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] {
margin: 0 !important;
}
</style>
</head>
<body>

<!-- BEGIN PREVIEW TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Arial Narrow Bold, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">Check out these new promotions from Kat Von D! Your customers won't want to miss these!</div>

<!-- Insert &zwnj;&nbsp; hack after hidden preview text -->
<div style="display: none; max-height: 0px; overflow: hidden;"> &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp; </div>
<!-- END PREVIEW TEXT -->

<table width="600px" align="center" cellpadding="0" cellspacing="0" class="deviceWidth">
<tr>
<td><table width="600px" align="center" cellpadding="0" cellspacing="0" style="font-family: helvetica, arial, sans-serif; border: 1px solid #ccc;">
<tr>
  <td align="center" style="font-family:Georgia, Times New Roman, Courier; font-size:12px; padding-bottom:0px; background-color:#373A3C"><br />
    <center>
      <img style="padding-bottom:5px;" class="logo" src="http://merchant.linksynergy.com/fs/banners/40902/40902_229.png" width="300" height="75" alt="logo"/> <br />
    </center></td>
  </tr>
  <tr>
    <td align="center" style="background-color:#373A3C;"><table cellpadding="0">
      <tr>
        <td align="center" style="background-color:#373A3C;"><table cellpadding="0">
          <tr>
            <td style="padding: 15px 15px 15px 15px"><a href="http://www.katvondbeauty.com/shop-all-products/lip" target="_blank"  style="text-decoration:none; color:#fff; font-family: Georgia, Times New Roman, Courier; font-size:13px; text-transform:uppercase;"><strong>LIP</strong></a></td>
            <td  style="padding: 0px 15px 0px 15px"><a href="http://www.katvondbeauty.com/shop-all-products/eye" target="_blank"  style="text-decoration:none; color:#fff; font-family: Georgia, Times New Roman, Courier; font-size:13px; text-transform:uppercase;"> <strong><strong>EYE</strong></strong></a></td>
            <td  style="padding: 0px 15px 0px 15px"><a href="http://www.katvondbeauty.com/shop-all-products/face" target="_blank" style="text-decoration:none; color:#fff; font-family: Georgia, Times New Roman, Courier; font-size:13px; text-transform:uppercase;"> <strong>FACE</strong></a></td>
            <td style="padding: 0px 15px 0px 15px"><a href="http://www.katvondbeauty.com/shop-all-products/sets-and-palettes" target="_blank" style="text-decoration:none; color:#fff; font-family: Georgia, Times New Roman, Courier; font-size:13px; text-transform:uppercase;"><strong>SETS</strong></a></td>
            <td style="padding: 0px 15px 0px 15px"><a href="http://www.katvondbeauty.com/sale" target="_blank"  style="text-decoration:none; color:#fff; font-family: Georgia, Times New Roman, Courier; font-size:13px; text-transform:uppercase;"><strong>SALE</strong></a></td>
            <td style="padding: 0px 15px 0px 15px"><a href="https://cli.linksynergy.com/cli/publisher/programs/advertiser_detail.php?oid=410152&mid=40902&offerNid=1&controls=1:1:0:3:1:1&availableoffers=1" target="_blank"  style="text-decoration:none; color:#fff; font-family: Georgia, Times New Roman, Courier; font-size:13px; text-transform:uppercase;"><strong>ALL LINKS</strong></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

  <!--	BEGIN HEADER IMAGE-->

  <tr>
    <td align="center" ><img style="display: block" class="mainBanner" src="<%= @newsletter.header.header_image %>" width="600" height="200" alt="Header Image"/></td>
  </tr>
  <!--	END HEADER IMAGE-->

  <tr>
    <td align="center" style="padding-top:20px; padding-bottom: 30px; background-color:#373A3C;"><span class="contact" style="font-size: 20px; font-family: Georgia, &quot;Times New Roman&quot;, Courier; color:#fff;"><strong>
      <%= @newsletter.header.subject_line %>
    </strong></span> <br /></td>
  </tr>

  <!--		Begin Main Copy-->

  <td valign="top" align="left" style="font-family: Helvetica,sans-serif; font-size:15px; color:#000000; padding:20px">Hello [FIRST.NAME],<br/>
    <br/>
    <%= @newsletter.header.body_copy.gsub(/\n/, '<br/>').html_safe %> 
    <br /><br />
    There are text links below to help you promote these exciting new offers!

    <br /><br />
    Thanks!<br />
    The KVD Vegan Beauty Team<br />
    <a style="color: #7D1222; font-size:12px;" href="mailto:ls-katvond@linkshare.com"><strong>ls-katvond@linkshare.com</strong></a></td>
    <!--		End Main Copy--> 

    <!--    Begin Text Links-->
    <tr>
      <td align="center" style="padding-top:20px; background-color:#373A3C;"><span class="contact" style="font-size: 18px; font-family: Georgia, Times New Roman, Courier; color:#fff;"><strong>Text Link</strong></span> <br />
        <br /></td>
      </tr>


      <% @newsletter.textlinks.each do |link| %>
      <%= render "/link_templates/#{@newsletter.adv_id}", copy: link.copy, link_id: link.link_id %>
      <br/><br/>
      <tr align="center"><td>
        <%= link_to 'Delete', [link.newsletter, link], method: :delete, class: "card-link" %>
        <%= link_to 'Edit', edit_newsletter_textlink_path(link.newsletter, link), class: "card-link" %>
      </td></tr>
      <% end %>

    </table></td>
  </tr>
  <!--  BEGIN BANNERS-->

  <tr>
    <td align="center" style="padding-top:20px; background-color:#373A3C;"><span class="contact" style="font-size: 18px; font-family: Georgia, Times New Roman, Courier; color:#fff;"><strong>Banners</strong></span> <br />
      <br /></td>
    </tr>
    <tr>
      <td style="border:1px solid #D4D4D4"><table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td></td>
        </tr>

        <!-- Banner Set 1-->
        <tr>
          <td><table width="100%" cellpadding="0" cellspacing="0">
          </table>
          <table width="100%" cellpadding="5" cellspacing="0">

            <% @newsletter.bannersets.each do |sets| %>
            <%= render "/bannerset_templates/#{@newsletter.adv_id}", display_img: set.display_img %>
            <br/><br/>
            <tr align="center"><td>
              <%= link_to 'Delete', [set.newsletter, set], method: :delete, class: "card-link" %>
              <%= link_to 'Edit', edit_newsletter_bannerset_path(set.newsletter, set), class: "card-link" %>
            </td></tr>
            <% end %>
            <tr>
              <% @newsletter.bannersets.sets.each do |sizes| %>
                <%= render "/bannerset_templates/#{@newsletter.adv_id}", display_img: set.display_img %>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>

    <!--END BANNERS--> 
  </table>
  <table class="remove" align="center">

    <!-- BEGIN TRACKING & RM LOGO -->
    <tr class="remove">
      <td align="center" style="padding: 15px; background-color: #ffffff;" bgcolor="#ffffff"><table align="center">
        <tr>
          <td align="center"><img src="http://merchant.linksynergy.com/fs/banners/13550/13550_10004986.png" alt="Powered by Rakuten Advertising" width="266" height="40"/> <img alt="" role="presentation" src="https://www.google-analytics.com/collect?v=1&tid=UA-73908201-7&cid=[SITE.CODE]&t=event&ec=email&ea=open&el=[SITE.CODE]&cs=GCT-<%= @newsletter.gct_id %>&cm=<%= @newsletter.send_date.strftime("%Y-%m-%d") %>&cn=40902"/></td>
        </tr>
      </table></td>
    </tr>
    <!-- END TRACKING & RM LOGO -->
  </table>
</body>
</html>