<h1>All Newsletters</h1>

<% @newsletters.each do |letter| %>
	<%= letter.gct_id %><br/>
	<%= letter.adv_name %><br/>
	<%= letter.adv_id %><br/>
	<%= link_to 'Edit', edit_newsletter_path(letter) %>
	<%= link_to 'Delete', letter, method: :delete %>
	<br/><br/>
<% end %>	