<h1>All Newsletters</h1>

<% @newsletters.each do |letter| %>
	<% if letter.closed === false %>
		<%= letter.adv_name  %><br/>
		<%= letter.gct_id %><br/>
		<%= letter.adv_id %><br/>
		<%= link_to 'Edit', edit_newsletter_path(letter) %>
		<%= link_to 'Reject', letter, method: :delete %>
		<%= link_to 'Close', close_path(letter)%><br/><br/>
	<% else %>
		<%= letter.gct_id %><br/>
		<%= letter.adv_name %><br/>
		<%= letter.adv_id %><br/>
		<%= link_to 'Open', open_path(letter)%><br/><br/>
	<% end %>	
<% end %>	