<!DOCTYPE html>
<html>
  <head>
    <title>Mercury</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= link_to 'New Newsletter', new_newsletter_path %>
    <%= link_to 'Home', root_path %>

    <%= yield %>
  </body>
</html>
